@import "./font.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Montserrat";
    background: #BABABA;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1326px;
    width: 100%;
    height: 100%;
}




.header{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-nav{
            display: flex;
            gap: 65px;

            &-item a{
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px-
            }
        }
        img{
            cursor: pointer;
        }
    }
}

.products{
    padding: 100px 0 50px;

    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-sort{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 40px 0;

            &-left{
                position: relative;

                &-item{
                    background: #fff;
                    padding: 12px 10px;
                    cursor: pointer;
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    &-text{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.5px;
                    }
                }
            }

            &-right{
                background: #fff;
                padding: 12px 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                cursor: pointer;
                transition: 0.2s;

                &:hover{
                    transform: scale(1.03);
                }
            }
        }

        &-cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 18px;

            &-card{
                background: #fff;
                padding: 19px 16px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                border-radius: 5px;
                color: black;
                cursor: pointer;


                img{
                    width: 278px;
                    height: 278px;
                }

                &-title{
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                }
                &-price{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24.38px;
                }
                &-quantity{
                    color: #BABABA;
                    font-size: 15px;
                    font-weight: 400;
                }
                &-btn{
                    position: absolute;
                    right: 10px;
                    bottom: 20px;
                    padding: 5px 20px;
                    border: #005C67 solid 1px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.5px;
                }
            }
        }
        .skip{
            display: flex;
            align-items: center;
            background: #fff;
            border-radius: 15px;
            padding: 10px;
            gap: 8px;
            position: fixed;
            bottom: 10px;
            border: #BABABA solid 2px;

            &-btn{
                width: 25px;
                cursor: pointer;
            }
        }
    }
    .active{
        opacity: 1;
     }
}

.modalsort{
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    border: #BABABA 1px solid;
    top: 50px;
    right: 0;

    &-text{
        cursor: pointer;
        padding: 5px 10px;
        transition: 0.3s;

        &:hover{
            background: #dbdbdb;
        }
    }
}

.btnBack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    cursor: pointer;
    color: black;

    img{
        width: 15px;
        height: auto;
    }
}

.productItem{
    padding: 120px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;


    &-img{
        width: 45%;
        // height: 100%;
        position: sticky;
        top: 130px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .item{
            width: 100%;
            // height: 100%;
            background: #fff;
        }
    }

    &-desc{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 15px;
        background: #fff;
        width: 45%;
        height: 100%;
        position: sticky;
        top: 110px;

        &-top{
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-bottom: #BABABA solid 1px;
            padding-bottom: 25px;

            &-rating{
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                color: #BABABA;
                display: flex;
                align-items: center;
                gap: 5px;
                & img{
                    width: 18px;
                    height: auto;
                }
            }

            &-title{
                font-size: 20px;
                font-weight: 500;
            }

            &-descr{
                font-size: 16px;
                font-weight: 400;
            }

            &-saler{
                font-size: 14px;
                font-weight: 400;
                line-height: 19.5px;
                a{
                    cursor: pointer;
                    text-decoration: underline;
                    margin-left: 10px;
                    color: black;
                }
            }
        }

        &-bottom{
            display: flex;
            flex-direction: column;
            gap: 15px;

            &-amount{
                display: flex;
                flex-direction: column;
                gap: 10px;

                &-text{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.5px;
                }

                &-bottom{
                    display: flex;
                    align-items: center;
                    gap: 25px;
                }

                &-quantity{
                    bottom: 12px;
                    right: 10px;
                    color: #00ad3a;
                }
            }

            &-dime{
                display: flex;
                flex-direction: column;
                gap: 15px;

                &-text{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.5px;
                }

                &-bottom{
                    display: flex;
                    align-items: center;
                    gap: 25px;
                }

                &-price{
                    font-size: 20px;
                    font-weight: 600;
                }

                &-discount{
                    font-size: 20px;
                    font-weight: 400;
                    color: #909090;
                    text-decoration: line-through 1px black;
                }
            }

            &-basket{
                padding: 15px;
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                background: #7000ff;
                border: #7000ff 2px solid;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    background: #fff;
                    color: #7000ff;
                    border: #7000ff 2px solid;
                }
            }
            &-comments{
                display: flex;
                flex-direction: column;
                gap: 15px;
                
                &-comment{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    border: #BABABA solid 1px;
                    border-radius: 5px;
                    padding: 10px;
                    position: relative;

    
                    &-top{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 30px;
                            height: auto;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400; 
                        }
                        .rating{
                            font-size: 14px;
                            font-weight: 400; 
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            img{
                                width: 18px;
                                height: auto;
                            }
                        }
                    }
                    
                    &-data{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .data{
                            font-size: 14px;
                            font-weight: 400; 
                            color: #909090;
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                        }
                        &-text{
                            margin-left: 40px;
                        }
                    }
                }
            }
        }

    }
}

.counter{
    display: flex;
    align-items: center;
    gap: 15px;
    border: #BABABA solid 2px;
    border-radius: 3px;

    & button{
        background: #fff; 
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        & img{
            width: 20px;
            height: auto;
        }   
    }
}

.loading{
    margin-top: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 15px;
}

.basket{
    padding: 140px 0;

    &__wrap{
        background: #fff;
        padding: 20px;
        border-radius: 10px; 
        
        &-title2{
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 25px;

            &-item{
                font-size: 32px;
                font-weight: 600;
            }

            .btn{
                background: #7000ff;
                color: #fff;
                padding: 15px 50px;
                font-size: 16px;
                font-weight: 500;
                border: #7000ff solid 1px;
                border-radius: 5px;
                transition: 0.3s;
                cursor: pointer;

                &:hover{
                    background: #fff;
                    color: #7000ff;
                }
            }
        }

        &-title{
            font-size: 22px;
            font-weight: 600;

            & span{
                color: #909090;
            }
        }

        &-order{
            gap: 25px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 25px;


            &-left{
                border: #BABABA 1px solid;
                border-radius: 5px;
                padding: 10px 20px;
                grid-column: 2 span;

                &-card{
                    border-bottom: #BABABA 1px solid;
                    border-top: #BABABA 1px solid;
                    display: flex;
                    gap: 25px;
                    padding: 20px 0;

                    & img{
                        width: 20%;
                        height: auto;
                    }

                    &-desc{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        width: 100%;
                        justify-content: center;

                        .top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .title{
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .btn{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                color: #909090;
                                background: #fff;
                                cursor: pointer;
                                border: #909090 solid 1px;
                                border-radius: 5px;
                                padding: 3px;
                                img{
                                    width: 25px;
                                    height: auto;
                                }
                            }
                        }

                        &-bottom{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .saler{
                                color: black;
                                span{
                                    color: #909090;
                                }
                            }
                            .price{
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }

            }
            &-right{
                display: flex;
                flex-direction: column;
                gap: 25px;
                border: #BABABA 1px solid;
                border-radius: 5px;
                grid-column: 1 span;
                padding: 15px;
                height: 180px;
                position: sticky;
                top: 120px;

                h4{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    span{
                        font-size: 18px;
                        font-weight: 600;
                    }
                    display: flex;
                    justify-content: space-between;
                }
                button{
                    padding: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    background: #7000ff;
                    border: #7000ff solid 1px;
                    color: #fff;
                    border-radius: 5px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover{
                        background: #fff;
                        color: #7000ff;
                    }
                }
            }
        }
    }
}

.catigories{
    padding: 130px 0;

    &__wrap{
        background: #fff;
        padding: 15px;

        &-title{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        &-desc{
            // display: flex;

            &-items{
                display: grid;
                grid-template-columns: repeat(13, 1fr);
                gap: 10px;
                // width: 200px;
    
                h2{
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 5px;
                    border: #000 solid 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    text-transform: capitalize;
                    transition: 0.3s;
                    cursor: pointer;
                    margin-bottom: 10px;
    
    
                    &:hover{
                        box-shadow: -2px -1px 50px -1px rgba(0, 0, 0, 0.26);
                        transform: scale(1.05);
                    }
                }
            }
            .products{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }

    }
    
}